.row{
    margin-left: 20px;
    color: white;

}

.posters{
display: flex;
padding: 20px;
overflow-x:scroll ;
overflow-y: hidden;
height: 100%;

}


.posters::-webkit-scrollbar{
    display: none;
    
}
.poster:hover{
    transform:scale(1.1) ;
     
}

.poster{
    max-height: 100%;
    background-position: center;
    background-size: cover;
    height: 150px;
    cursor: pointer;
    border-radius: 5px ;
}

